# Wordpress - ignore core, configuration, examples, uploads and logs.
# https://github.com/github/gitignore/blob/main/WordPress.gitignore

# Core
#
# Note: if you want to stage/commit WP core files
# you can delete this whole section/until Configuration.
node_modules/
ai1wm-backups/
# Example themes
wp-content/themes/twenty*/

# Example plugin
wp-content/plugins/hello.php
logs/php/error.log
app/sql/local.sql
